nohup.out
NYC67.zip
out.txt
NYC67/agency.txt
NYC67/calendar_dates.txt
NYC67/calendar.txt
NYC67/routes.txt
NYC67/shapes.txt
NYC67/stop_times.txt
NYC67/stops.txt
NYC67/transfers.txt
NYC67/trips.txt
output.txt
gtfs_realtime_json
out.html
.#out.txt
#out.txt#
#out.txt#
configurator.py~
out.txt~
